* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color:  rgb(152, 150, 123);
    color: #fff;
}
.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.gallery::-webkit-scrollbar {
    display: none;
}
.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img {
    width: 100%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s;
}
.gallery div img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
.gallery-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;

}
#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}